.component3-container1 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  position: relative;
  max-width: 2000px;
  align-items: center;
  border-radius: 12px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-theme-primary1);
  border-top-left-radius: 12;
  border-top-right-radius: 12;
  border-bottom-left-radius: 12;
  border-bottom-right-radius: 12;
}
 
.component3-image {
  width: 50%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
 
.component3-container2 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component3-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.component3-text10 {
  color: var(--dl-color-theme-secondary1);
  width: auto;
  padding-left: var(--dl-layout-space-sixunits);
  padding-right: var(--dl-layout-space-sixunits);
  padding-bottom: var(--dl-layout-space-unit);
}
 
.component3-text11 {
  width: auto;
  padding-left: var(--dl-layout-space-sixunits);
  padding-right: var(--dl-layout-space-sixunits);
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.component3-text12 {
  width: auto;
  padding-left: var(--dl-layout-space-sixunits);
  padding-right: var(--dl-layout-space-sixunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.component3-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.component3-link1 {
  display: flex;
  transition: 0.3s;
  margin-left: var(--dl-layout-space-sixunits);
  padding-top: var(--dl-layout-space-unit);
  border-color: var(--dl-color-theme-secondary1);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-theme-secondary1);
}
 
.component3-link1:hover {
  border-color: var(--dl-color-theme-secondary2);
  background-color: var(--dl-color-theme-secondary2);
}
 
.component3-text13 {
  color: #ffffff;
}
 
.component3-link2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: flex;
  transition: 0.3s;
  margin-left: var(--dl-layout-space-unit);
  padding-top: var(--dl-layout-space-unit);
  border-color: var(--dl-color-theme-neutral-dark);
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.component3-link2:hover {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  border-color: var(--dl-color-theme-secondary1);
  background-color: transparent;
}
 
.component3-fragment1 {
  display: contents;
}
 
.component3-text15 {
  display: inline-block;
}
 
.component3-fragment2 {
  display: contents;
}
 
.component3-text16 {
  display: inline-block;
}
 
.component3-fragment3 {
  display: contents;
}
 
.component3-text17 {
  display: inline-block;
}
 
.component3-fragment4 {
  display: contents;
}
 
.component3-text18 {
  display: inline-block;
}
 
.component3-fragment5 {
  display: contents;
}
 
.component3-text19 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .component3-container1 {
    width: 90%;
  }
}
 
@media(max-width: 1200px) {
  .component3-container1 {
    width: 90%;
  }
  .component3-text10 {
    width: 100%;
  }
  .component3-text11 {
    width: 100%;
  }
  .component3-text12 {
    width: 100%;
  }
}
 
@media(max-width: 991px) {
  .component3-container1 {
    width: 90%;
    height: 650px;
  }
  .component3-image {
    height: 100%;
  }
  .component3-text10 {
    padding-left: var(--dl-layout-space-fourunits);
    padding-right: var(--dl-layout-space-fourunits);
  }
  .component3-text11 {
    padding-left: var(--dl-layout-space-fourunits);
    padding-right: var(--dl-layout-space-fourunits);
  }
  .component3-text12 {
    padding-left: var(--dl-layout-space-fourunits);
    padding-right: var(--dl-layout-space-fourunits);
  }
  .component3-link1 {
    margin-left: var(--dl-layout-space-fourunits);
  }
}
 
@media(max-width: 767px) {
  .component3-container1 {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .component3-image {
    width: 100%;
    height: 400px;
  }
  .component3-container2 {
    width: 100%;
  }
  .component3-container3 {
    width: 100%;
  }
  .component3-text10 {
    width: 100%;
    padding-top: var(--dl-layout-space-threeunits);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .component3-text11 {
    width: 100%;
  }
  .component3-text12 {
    width: 100%;
  }
  .component3-container4 {
    width: 100%;
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .component3-link1 {
    width: auto;
  }
  .component3-text13 {
    width: 100%;
  }
  .component3-link2 {
    width: auto;
  }
  .component3-text14 {
    width: auto;
  }
}
 
@media(max-width: 479px) {
  .component3-image {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .component3-text10 {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .component3-text11 {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .component3-text12 {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .component3-container4 {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .component3-link1 {
    margin-left: var(--dl-layout-space-twounits);
  }
  .component3-link2 {
    margin-top: var(--dl-layout-space-unit);
    margin-left: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
}
