.contact-form7-contact1 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact-form7-max-width {
  max-width: 2000px;
  align-items: flex-start;
}
 
.contact-form7-section-title {
  gap: var(--dl-layout-space-unit);
  width: 40%;
  align-items: flex-start;
}
 
.contact-form7-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
 
.contact-form7-content2 {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-row1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact-form7-row2 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact-form7-row3 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
 
.contact-form7-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 60%;
}
 
.contact-form7-container1 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form7-input1 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-text-input1 {
  align-self: stretch;
  border-radius: var(--dl-layout-radius-radius4);
  background-color: transparent;
}
 
.contact-form7-input2 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-text-input2 {
  border-radius: var(--dl-layout-radius-radius4);
  background-color: transparent;
}
 
.contact-form7-container2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.contact-form7-input3 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-text-input3 {
  border-radius: var(--dl-layout-radius-radius4);
  background-color: transparent;
}
 
.contact-form7-input4 {
  gap: var(--dl-layout-space-halfunit);
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-text-input4 {
  border-radius: var(--dl-layout-radius-radius4);
  background-color: transparent;
}
 
.contact-form7-container3 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-input5 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.contact-form7-select {
  display: block;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
}
 
.contact-form7-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-input6 {
  gap: var(--dl-layout-space-halfunit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form7-textarea {
  border-radius: var(--dl-layout-radius-radius4);
  background-color: transparent;
}
 
.contact-form7-checkbox1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
}
 
.contact-form7-button {
  align-self: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-theme-secondary1);
}
 
.contact-form7-action1 {
  color: #ffffff;
}
 
.contact-form7-fragment1 {
  display: contents;
}
 
.contact-form7-text19 {
  display: inline-block;
}
 
.contact-form7-fragment2 {
  display: contents;
}
 
.contact-form7-text20 {
  display: inline-block;
}
 
.contact-form7-fragment3 {
  display: contents;
}
 
.contact-form7-text21 {
  display: inline-block;
}
 
.contact-form7-fragment4 {
  display: contents;
}
 
.contact-form7-text22 {
  display: inline-block;
}
 
.contact-form7-fragment5 {
  display: contents;
}
 
.contact-form7-text25 {
  display: inline-block;
}
 
.contact-form7-fragment6 {
  display: contents;
}
 
.contact-form7-text26 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .contact-form7-contact1 {
    padding-bottom: 0px;
  }
}
 
@media(max-width: 991px) {
  .contact-form7-max-width {
    align-items: flex-start;
    flex-direction: column;
  }
  .contact-form7-section-title {
    width: 100%;
  }
  .contact-form7-form {
    width: 100%;
  }
  .contact-form7-container1 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form7-input1 {
    width: 50%;
  }
  .contact-form7-input2 {
    width: 50%;
    flex-direction: column;
  }
  .contact-form7-container2 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form7-input3 {
    width: 50%;
  }
  .contact-form7-input4 {
    width: 50%;
  }
  .contact-form7-container3 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form7-input5 {
    gap: var(--dl-layout-space-halfunit);
    width: 50%;
    flex-direction: column;
  }
  .contact-form7-container5 {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form7-checkbox1 {
    align-self: flex-start;
  }
}
 
@media(max-width: 479px) {
  .contact-form7-form {
    padding: var(--dl-layout-space-unit);
  }
  .contact-form7-container1 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form7-input1 {
    width: 100%;
  }
  .contact-form7-input2 {
    width: 100%;
  }
  .contact-form7-container2 {
    align-items: stretch;
    flex-direction: column;
  }
  .contact-form7-input3 {
    width: 100%;
  }
  .contact-form7-input4 {
    width: 100%;
  }
}
