.steps21-container10 {
  width: 100%;
  display: flex;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}
 
.steps21-max-width {
  gap: var(--dl-layout-space-fourunits);
  width: 80%;
  display: flex;
  max-width: 2000px;
  align-items: flex-start;
  flex-direction: row;
}
 
.steps21-container11 {
  align-items: start;
}
 
.steps21-section-header {
  gap: var(--dl-layout-space-oneandhalfunits);
  top: 10%;
  display: flex;
  position: sticky;
  align-items: flex-start;
  flex-direction: column;
}
 
.steps21-text10 {
  font-size: 90px;
  font-family: "Poppins";
  font-weight: 900;
  text-transform: capitalize;
  text-decoration: none;
}
 
.steps21-text11 {
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.steps21-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.steps21-link {
  transition: 0.3s;
  padding-top: var(--dl-layout-space-unit);
  border-width: 0px;
  padding-left: var(--dl-layout-space-twounits);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-theme-secondary1);
}
 
.steps21-link:hover {
  background-color: var(--dl-color-theme-secondary2);
}
 
.steps21-text12 {
  fill: var(--dl-color-theme-primary2);
  color: var(--dl-color-theme-primary2);
}
 
.steps21-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.steps21-container13 {
  grid-area: span 1/span 1/span 1/span 1;
}
 
.steps21-container14 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.steps21-text14 {
  text-align: center;
}
 
.steps21-text15 {
  top: var(--dl-layout-space-unit);
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-style: normal;
}
 
.steps21-container15 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-primary1);
}
 
.steps21-text17 {
  text-align: center;
}
 
.steps21-text18 {
  top: var(--dl-layout-space-unit);
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-style: normal;
}
 
.steps21-container16 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-accent1);
}
 
.steps21-text20 {
  text-align: center;
}
 
.steps21-text21 {
  top: var(--dl-layout-space-unit);
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-style: normal;
}
 
.steps21-container17 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
 
.steps21-container18 {
  top: 10%;
  position: sticky;
  transform: rotate(2deg);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-bottom: var(--dl-layout-space-twounits);
  background-color: var(--dl-color-theme-primary1);
}
 
.steps21-text23 {
  text-align: center;
}
 
.steps21-text24 {
  top: var(--dl-layout-space-unit);
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-style: normal;
}
 
.steps21-container19 {
  top: 10%;
  position: sticky;
  transform: rotate(-2deg);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  background-color: var(--dl-color-theme-accent1);
}
 
.steps21-text26 {
  text-align: center;
}
 
.steps21-text27 {
  top: var(--dl-layout-space-unit);
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  right: var(--dl-layout-space-unit);
  position: absolute;
  font-style: normal;
}
 
.steps21-fragment10 {
  display: contents;
}
 
.steps21-text28 {
  display: inline-block;
}
 
.steps21-fragment11 {
  display: contents;
}
 
.steps21-text29 {
  display: inline-block;
}
 
.steps21-fragment12 {
  display: contents;
}
 
.steps21-text30 {
  display: inline-block;
}
 
.steps21-fragment13 {
  display: contents;
}
 
.steps21-text31 {
  display: inline-block;
}
 
.steps21-fragment14 {
  display: contents;
}
 
.steps21-text32 {
  display: inline-block;
}
 
.steps21-fragment15 {
  display: contents;
}
 
.steps21-text33 {
  display: inline-block;
}
 
.steps21-fragment16 {
  display: contents;
}
 
.steps21-text34 {
  display: inline-block;
}
 
.steps21-fragment17 {
  display: contents;
}
 
.steps21-text35 {
  display: inline-block;
}
 
.steps21-fragment18 {
  display: contents;
}
 
.steps21-text36 {
  display: inline-block;
}
 
.steps21-fragment19 {
  display: contents;
}
 
.steps21-text37 {
  display: inline-block;
}
 
.steps21-fragment20 {
  display: contents;
}
 
.steps21-text38 {
  display: inline-block;
}
 
@media(max-width: 1600px) {
  .steps21-container10 {
    padding-left: 0px;
  }
  .steps21-max-width {
    width: 90%;
  }
}
 
@media(max-width: 991px) {
  .steps21-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .steps21-section-header {
    position: static;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .steps21-actions {
    width: 100%;
    align-self: flex-start;
  }
  .steps21-container14 {
    width: 100%;
  }
  .steps21-container15 {
    width: 100%;
  }
  .steps21-container16 {
    width: 100%;
  }
  .steps21-container18 {
    width: 100%;
  }
  .steps21-container19 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .steps21-container10 {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .steps21-max-width {
    width: auto;
    align-self: center;
  }
  .steps21-container11 {
    width: auto;
    align-self: flex-start;
  }
  .steps21-text10 {
    font-size: 60px;
  }
  .steps21-container12 {
    flex-direction: column;
  }
  .steps21-container13 {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .steps21-text16 {
    padding-right: var(--dl-layout-space-twounits);
  }
  .steps21-text19 {
    padding-right: var(--dl-layout-space-twounits);
  }
  .steps21-text25 {
    padding-right: var(--dl-layout-space-twounits);
  }
}
